<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c3ead629db.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <h3 class="header item"><a href="#">Groupify</a></h3>
        </div>

        <div class="navbar-search">
            <form action="/search" method="post">
                <input class="search-input" type="text" name="search" placeholder="Search songs, artists, playlists..." autocomplete="off">
            </form>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#"><i class="fa-solid fa-rotate" aria-hidden="true"></i></a>
                <script>
                    $(".fa-rotate").hover(function() {
                        $(this).toggleClass("fa-spin");
                    });
                </script>
            </li>
        </ul>
        <!-- <span><input type="text" name="search" placeholder="Search" style ="width: 600px; padding-top: 12px;"> </span> -->
        </div>
    </nav>
    <div class="ui three column grid">
        <div class="five wide column">
            <h1 class="column-header">Playlist</h1>
            <!-- replace 10 with nominations.length -->
            <% for (var i=0; i<PlayedJson.length; i++) { %>
                <div style="margin-left: 3%" class="card <% if (!i){ %>yellow<% } %> ui message grey nom-box">
                    <a class="nomination center" href="<%= HotJson[i][" external_urls "]["spotify "] %>"> <br><span class="header"><%= HotJson[i]["name"] %> - <%= HotJson[i]["artists"][0]["name"] %> <br></a>
          <br>
        </div>
        <% } %>
      </div>
      <div class="ten wide column">
        <h1 class="column-header">Hot</h1>
        <!-- replace 10 with nominations.length -->
          <% for (var i=0; i<HotJson.length; i++) { %>
        <div style="margin-left: 3%" class="ui message white nom-box">
          <div class="votes"><i class="angle up icon upvote big" id="<%= HotJson[i]["id"] %>up"></i>
		<div id="votecount"><p><%= HotVotes[i]["Votes"] %></p></div>
		<br> <br><i class="angle down icon downvote big" id="<%= HotJson[i]["id"] %>down"></i>
            <script>$("#<%= HotJson[i]["id"] %>up").click(function(){$.post("/upvote", {"UserID": "<%= UserID %>", "SpotifyID": "<%= HotJson[i]["id"] %>"});});</script>
          <script>$("#<%= HotJson[i]["id"] %>down").click(function(){$.post("/downvote", {"UserID": "<%= UserID %>", "SpotifyID": "<%= HotJson[i]["id"] %>"});});</script>
	  </div>
          <a class="nomination center" href="<%= HotJson[i]["external_urls"]["spotify"] %>"> <br><span class="header" style ="padding-left: 16px;"><%= HotJson[i]["name"] %></span> <br>
                        <%= HotJson[i]["artists"][0]["name"] %><br></a>
                    <br>
                </div>
                <% } %>
        </div>
        <!-- <div class="green five wide column">
        <h1 class="header">New</h1>
          <% for (var i=0; i<10; i++) { %>
        <div style="margin-left: 3%" class="ui message white nom-box">
          <div class="votes"><i class="angle up icon upvote big"></i>
		  <div id="votecount"><p>#</p></div>
		  <br> <br><i class="angle down icon downvote big"></i>
          </div>
          <a class="nomination center" href="https://open.spotify.com/track/new-nominations[i].spotifyid"> <br><span class="header" style ="padding-left: 16px;">new-nominations[i].title</span> <br>new-nominations[i].artist<br></a>
          <br>
        </div>
          <% } %>
      </div> -->
    </div>
</body>

</html>